footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    svg {
        width: 1.1em !important;
        height: 1.1em !important;
        margin-right: 10px;
    }

    p {
        font-size: 0.8em;
        margin-top: 1rem;
        margin-bottom: 0;
        opacity: 0.9;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        p {
            font-size: 0.75em;
            line-height: 1.5;
        }
    }
}